.button {
    padding: 4px;
    margin: 2px;
    background: white;
    border-radius: 1px;
    border: none;
    cursor:pointer;
}

.button:hover {
    background-color: sandybrown;
}

#headerbutton {
    padding: 10px;
    font-size: 24px;
    background-color: khaki;
}

#headerbutton:hover {
    background-color: sandybrown;
}

#plusbutton {
    padding: 5px;
    background-color: khaki;
}

#plusbutton:hover {
    background-color: sandybrown;
}

.taskline {
    display: flex;
    align-items: center;
}

.required {
    color: red;
    font-size: small;
}

.taskblock
{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    background: khaki;
    color: darkslategray;
    margin: -15px;
}

.inputform {
    margin: 20px 20px 20px 0;
    width: 500px;
}

#tagsintasks {
    display: flex;
    overflow: auto;
}

#tagblock {
    padding: 5px;
}

#struct {
    display: flex;
}

body {
    background: beige;
    padding: 30px;
}

a {
    text-decoration: initial;
    color: black;
}